<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{#if master}}
        <h1>Hello master {{master}}</h1>
    {{/if}}

    <form method="POST" action="/createMovieViaForm">
        <input type="text" name="duration" value="2h 00min" placeholder="Duration">
        <input type="text" name="title" value="Molledas life!" placeholder="Title">
        <input type="text" name="year" value="2000" placeholder="Movie Year">
        <input type="text" name="director" value="Mr. Molleda" placeholder="Director">
        <input type="text" name="genres" value="Drama,Action" placeholder="Genres">
        <input type="text" name="rate" value="9.4" placeholder="rate">

        <input type="submit" value="Save new movie">
    </form>
</body>
</html>