<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#if master}}
        <h1>Hello master {{master}}</h1>
    {{/if}}
    {{!-- queryString example, uncomment these lines to make this work --}}
    {{!-- <form action="/consecutiveYearsMoviesQueryParams" method="GET">
        <input type="text" name="year" value="" placeholder="Movie Year">
        <input type="text" name="genres" value="Drama,Action" placeholder="Genres">

        <input type="submit" value="Find movies of this year">
    </form> --}}

    <form method="GET">
        <input type="text" name="year" value="2000" placeholder="Movie Year">
        <input type="text" name="genres" value="Drama,Action" placeholder="Genres">

        <input type="submit" value="Find movies of this year">
    </form>

    <script src="js/form.js"></script>
</body>
</html>